* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  body {
    height:500vh;
    width:100%;
    background:#9FE2BF;
    
  }
  .main {
    height:300vh;
    max-width:800px;
    min-width:200px;
    width:80%;
    margin:10px auto;
    background:white;
    
    
  }
  
  
  input:hover {
    color:blue;
  }
  